
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">VICM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          <a class="nav-link" routerLink="signup">signup</a>
          <a class="nav-link" routerLink="login">login</a>
          <a class="nav-link" routerLink="addvehicle">Add Vehicle Details</a>

          <a class="nav-link" routerLink="claims">Claims</a>
          <!-- <a class="nav-link" routerLink="registerClaim">Register Claims</a> -->
          <a class="nav-link" routerLink="policies">policies</a>
          <!-- <a class="nav-link" routerLink="registerPolicy">Register Policies</a> -->
          
          
          <a class="nav-link" routerLink="InsuranceCompanies">InsuranceCompanies</a>
          <!-- <a class="nav-link" routerLink="About">About</a>
          <a class="nav-link" routerLink="contact">ContactUs</a> -->
          <a class="nav-link" routerLink="adminLogin">Admin Login</a>
          <a class="nav-link" routerLink="ClaimStatus">Claim Status</a>
          

          



          <!-- <a class="nav-link disabled">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>